* {
	box-sizing: border-box;
}

body {
	font-family: "Times New Roman", serif;
	font-size: 1.4em;
	line-height: 1.5em;
	background-color: $bgColor;
    color: #fff;
}

h1 {
	font-family: "Geneva", sans-serif;
	font-weight: 400;
	font-size: 2.8rem;
}

img {
	max-width: 100%;
	height: auto;
}

.link {
	color:$linkColor;
	text-decoration: none;

	&:hover {
		color: $linkColor;
		text-decoration: underline;
	}
}