$mainBg: #111;

body {
	font-family: "Times New Roman", serif;
	font-size: 1.4em;
	line-height: 1.5em;
	background-color: $mainBg;
    color: #fff;
}

a {
	color:#0ff;
	text-decoration: none;

	&:hover {
		color:#0ff;
		text-decoration: underline;
	}
}

