.hero {
	position: relative;
	margin-bottom: 300px;

	&__image {
		width: 100%;
	}

	&__text-content {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		width: 100%;
		text-align: center;
	}

	&__title {
		font-family: "Geneva", sans-serif;
		font-weight: 600;
		font-size: 4.8rem;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
	}
	
	&__subtitle {
		font-family: "Geneva", sans-serif;
		font-weight: 200;
		font-size: 3rem;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
	}

	&__description {
		max-width: 30rem;
		margin: 0 auto 2rem auto;
		font-family: "Geneva", sans-serif;
		font-size: 2rem;
		line-height: 2.8rem;
		font-weight: 100;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
	}
}