.text-block {
	max-width: 640px;
	margin: 0 auto;
	padding: 0 20px;

	&__title {
		font-family: "Geneva", sans-serif;
		font-weight: 400;
		font-size: 2.8rem;
	}

	&__link {
		color:$linkColor;
		text-decoration: none;
	
		&:hover {
			color: $linkColor;
			text-decoration: underline;
		}
	}
}